html, * {
    padding: 0;
    margin: 0;
}
body {
    background:#a1d1bd;
    position: relative;
    color: #000;
}
#start {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    display: inline-block;
    text-align: center;
    line-height: 100vh;
    font-size: 50px;
    background-color: rgba(56, 174, 35, 1);
}
#container {
    /* background-image:url("Pattern Bg 3-02.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; */
    width: 100%;
    height: 100%;
    /* font-family: 'Londrina Solid', cursive; */
}

.main-container {
    width: 90%;
    text-align: center;
    margin: auto;
    /* background-color: ghostwhite; */
}

.ptSans {
    color: black;
    font-weight: 900;
    text-shadow:0.25px 0.5px rgba(255,255,255,0);
    font-family: 'PT Sans', sans-serif;
}

h1 {
    width: 100%; 
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 30px;
    color: rgb(18 75 143 / 70%);
    text-transform: uppercase;;
}

.table-data {
    border: 0;
    border-collapse: collapse;
    margin: auto;
}
.space {
    /* visibility: hidden; */
    /* margin-top: 15px;    */
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 1px solid #000;
    vertical-align: middle;
    background-image: radial-gradient(circle, rgb(174, 238, 220) 0%, rgb(52, 206, 230) 100%);
}

.space_corner {
    /* visibility: hidden; */
    /* margin-top: 15px;    */
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    /* border: 1px solid #000; */
    vertical-align: middle;
    background-color: #a1d1bd;
}

.change_bg_letter {
    position: relative;
    display: inline-block;
    /* background-color:rgba(56, 174, 35, 0.7); */
    background-color: #6fcb9f;
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding-bottom: 0;
    /* margin-top: 15px; */
    border: 1px solid #000;
    vertical-align: middle;
    text-align: center;
    font-size: 70px;
    animation: blinking 1s 3;
}
@keyframes blinking {
    0% {
      background-color: #270da6;
    }
    100% {
      background-color: #6fcb9f;
    }
  }
.letter {
    position: relative;
    display: inline-block;
    /* background-color:rgba(56, 174, 35, 0.7); */
    background-color: ghostwhite;
    width: 70px;
    height: 70px;
    line-height: 70px;
    padding-bottom: 0;
    /* margin-top: 15px; */
    border: 1px solid #000;
    vertical-align: middle;
    text-align: center;
    font-size: 70px;
}
.anim {
/* animation: flip 4s 1;
    animation-delay: calc(0.5s * var(--i)) */
    animation: waviy 2s 1;
    animation-delay: calc(.3s * var(--i));
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

.word-wrap {
  display: inline-block !important;
}

#guess {
    position: relative;
    color:#fff;
    margin: auto;
    font-weight:bold;
    font-size: 80px;
    margin-bottom: 45px;
    text-transform: uppercase;
    letter-spacing: -20px;
    padding-top: 20px;
    padding-bottom: 35px;
    text-align: center;
}


#hint {
    color: #c9ee34;
    margin: auto;
    font-weight:bold;
    font-size: 32px;
    margin-bottom: 45px;
    visibility: hidden;
}

.body-container {
    text-align: center;
    width: 80%;
}

.size {
    color:#6fcb9f;
    font-weight:600;
    font-size: 28px;
    text-align: left;
    padding-left: 43%;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.sizeNumber {
    font-size: 28px;
    text-align: left;
    margin-bottom: 30px;
    padding-right: 30px;
}

#img {
    margin: 0 auto;
}

#winImage {
    width:300px;
}

.bottom {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.admin {
    color: #fff;
}

#input-word {
    padding: 5px;
}

#input-hint {
    padding: 5px;
}

#save {
    padding: 5px;;
}

#word-list {
    height: 400px;
    width: 500px;
    padding: 5px;
    overflow:scroll;
}

.col-left {
    width: 50%;
    float: left;
    text-align: left;
}

.col-right {
    width: 50%;
    float: right;
    text-align: left;
}

#message {
    color: #fff;
    font-weight: bold;
    display: inline-block;
}

#remove {
    padding: 5px 10px;
}

.top-banner {
    width: 90%;
    margin: auto;
    padding-top: 10px;
}
.top-banner::after {
    content: "";
  clear: both;
  display: table;
}

.score-top-left {
    float: left;
    text-align: left;
}

.score-top-right {
    float: right;
    text-align: right;
}

.player-left-bg {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.player-right-bg {
    display: inline-block;
    background-color: yellow;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.player-right-score {
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}
.player-left-score {
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}