<!-- index.hbs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Word-Guess-Game</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Londrina+Solid|PT+Sans"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="start">Chào mừng bạn đến với ô chữ của Chiếc nón kỳ diệu</div>
    
    <div id="container">
      <div class="top-banner">
          <div class="score-top-left">
            <div class="player-left-bg"></div>
            <div id="player-left-score" class="player-left-score">200</div>
          </div>
          <div class="score-top-right">
            <div class="player-right-bg"></div>
            <div id="player-right-score" class="player-right-score">300</div>
            
          </div>
      </div>
      <div class="main-container .intro">
        <h1 id="game-hint">Trò Chơi Đoán Từ</h1>
        <p id="guess"></p>
        <p id="hint"></p>
        <p class="size hidden">
          Guesses Left: <span id="left" class="sizeNumber ptSans"></span>
        </p>
        <p class="size hidden">
          Wrong Letters: <span id="wrong" class="sizeNumber ptSans"></span>
        </p>
        <p class="size hidden">
          Win: <span id="wins" class="sizeNumber ptSans"></span>Lose:
          <span id="losses" class="sizeNumber ptSans"></span>
        </p>
        <!-- <div id="img">
          
        </div> -->
      </div>
      <!-- <div class="bottom">
        Copyright © 2022 VinHMS
      </div> -->
    </div>
    <script type="text/javascript" src="https://unpkg.com/axios@1.4.0/dist/axios.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
